[Desktop Entry]
Categories=Utility;
Comment[de_DE]=Launch Emoji Keyboard
Comment=Launch Emoji Keyboard
Exec=emoji-keyboard-unwrapped
GenericName[de_DE]=
GenericName=
Icon=preferences-desktop-emoticons
MimeType=
Name[de_DE]=Emoji Keyboard
Name=Emoji Keyboard
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
